[tool.poetry]
name = "archetypes"
version = "0.3.0"
description = "A scikit-learn compatible Python package for archetypal analysis"
authors = ["Aleix Alcacer <aleixalcacer@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
numpy = "^1.23.3"
scikit-learn = "^1.1.2"
scipy = "^1.9.1"
matplotlib = "^3.6.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^2.20.0"
flake8 = "^5.0.4"
pytest = "^7.1.3"
black = {extras = ["jupyter"], version = "^22.8.0"}
isort = "^5.10.1"
pylint = "^2.15.3"
jupyter = "^1.0.0"

[tool.isort]
profile = "black"

[tool.pylint.format]
max-line-length = "100"

[tool.black]
line-length = 100

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
